[submodule "vesc"]
	path = vesc
	url = git@github.com:yertle-racers/vesc.git
	branch = foxy
[submodule "ackermann_mux"]
	path = ackermann_mux
	url = git@github.com:yertle-racers/ackermann_mux.git
	branch = foxy-devel
[submodule "teleop_tools"]
	path = teleop_tools
	url = git@github.com:yertle-racers/teleop_tools.git
	branch = foxy-devel
